body{
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #f5f5f5;
}

.contenedor{
    width: 85%;
    margin: 40px auto;
}

.encabezado{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

.encabezado h1 {
    margin: 0;
    font-size: 32px;
}

.encabezado p{
    margin-top: 5px;
    color: #666;
}
.btn-crear